<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Row</title>
    
    <!-- Include Bootstrap CSS (you can replace this link with your local Bootstrap file) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2 class="mt-4">Edit Row</h2>

    <form method="post">
        {% for column, (column_name, column_type) in columns_info.items() %}
        <div class="form-group">
            <label for="{{ column_name }}">{{ column_name.capitalize() }}:</label>
    
            {% if column_type == 'BOOLEAN' %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="{{ column_name }}" name="{{ column_name }}" {% if row[column_name] %}checked{% endif %}>
                    <label class="form-check-label" for="{{ column_name }}">Check if true</label>
                </div>
            {% elif column_type == 'DATETIME' %}
                <input type="text" class="form-control datepicker" id="{{ column_name }}" name="{{ column_name }}" value="{{ row[column_name] | default('') }}" >
                <!-- Include necessary datepicker scripts -->
            {% else %}
                {# Show an empty string if the value in the row is None #}
                <input type="text" class="form-control" id="{{ column_name }}" name="{{ column_name }}" value="{% if row[column_name] is not none %}{{ row[column_name] }}{% endif %}">
            {% endif %}
    
        </div>
    {% endfor %}
    

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>

    </form>
</div>

<!-- Include Bootstrap JS (optional) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Include Datepicker JS (if using datetime field) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    // JavaScript function to cancel the form and go back to the index page
    function cancelForm() {
        // Redirect to the index page
        window.location.href = '/';  // Replace '/index' with the actual URL of your index page
    }       
    $(document).ready(function(){
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            todayHighlight: true
        });
    });
</script>

</body>
</html>
